In [1]:
#Importing Libraries
import warnings
import numpy as np
import pandas as pd
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report 
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
warnings.filterwarnings("ignore")

In [3]:
#Loading the Dataset
dataset = pd.read_csv("prep.csv")

In [4]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [5]:
dataset = pd.get_dummies(dataset, dtype = int, drop_first = True)

In [6]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,0,0,0,0,0,0,1,1,0,1
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,0,0,0,0,0,1,0,0,1
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,0,0,0,0,0,1,0,0,1
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,0,0,0,0,0,1,0,1,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,0,0,0,0,0,1,0,0,1
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,0,0,1,1,0,1,0,1,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,0,0,1,1,0,0,0,0,1
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,0,0,1,1,0,1,0,1,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,0,0,0,0,0,1,0,0,0

In [7]:
independent = dataset.drop("classification_yes",axis = 1)
dependent = dataset["classification_yes"]

In [8]:
independent

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,rbc_normal,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,1,0,0,0,0,0,0,1,1,0
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,1,1,0,0,0,0,0,1,0,0
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,1,1,0,0,0,0,0,1,0,0
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,1,1,0,0,0,0,0,1,0,1
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,1,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,1,1,0,0,0,0,0,1,0,0
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,1,1,0,0,1,1,0,1,0,1
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,1,1,0,0,1,1,0,0,0,0
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,1,1,0,0,1,1,0,1,0,1
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,1,1,0,0,0,0,0,1,0,0

In [9]:
dependent

0      1
1      1
2      1
3      1
4      1
      ..
394    1
395    1
396    1
397    1
398    0
Name: classification_yes, Length: 399, dtype: int32

In [26]:
#Finding best Features Using RFE
n = 5
rfe_list = []
lr = LogisticRegression(solver = 'lbfgs')
rf = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0) 
dt = DecisionTreeClassifier(criterion = 'gini', max_features = 'sqrt', random_state = 0) 
svc = SVC(kernel = 'linear', random_state = 0)
classification_models = [lr, rf, dt, svc,]  
for model in classification_models:
    rfe_obj = RFE(model,n_features_to_select = n)
    rfe_model = rfe_obj.fit(independent,dependent)
    rfe_feature = rfe_model.transform(independent)
    rfe_list.append(rfe_feature)

rfe_list

[array([[3., 1., 0., 0., 0.],
        [2., 1., 0., 0., 0.],
        [1., 0., 0., 0., 0.],
        ...,
        [3., 1., 0., 1., 1.],
        [0., 0., 0., 1., 1.],
        [0., 0., 0., 0., 0.]]),
 array([[  3.        , 148.11267606,   3.07735602,  12.51815562,
          38.86890244],
        [  2.        , 148.11267606,   0.7       ,  10.7       ,
          34.        ],
        [  1.        ,  99.        ,   0.6       ,  12.        ,
          34.        ],
        ...,
        [  3.        , 110.        ,   6.        ,   9.1       ,
          26.        ],
        [  0.        , 207.        ,   6.8       ,   8.5       ,
          38.86890244],
        [  0.        , 100.        ,   1.        ,  16.3       ,
          53.        ]]),
 array([[ 3.07735602, 12.51815562,  1.        ,  1.        ,  0.        ],
        [ 0.7       , 10.7       ,  1.        ,  1.        ,  0.        ],
        [ 0.6       , 12.        ,  0.        ,  1.        ,  0.        ],
        ...,
        [ 6.        ,  9.1       ,  1.        ,  1.        ,  1.        ],
        [ 6.8       ,  8.5       ,  0.        ,  1.        ,  1.        ],
        [ 1.        , 16.3       ,  0.        ,  1.        ,  0.        ]]),
 array([[3., 1., 0., 0., 1.],
        [2., 1., 0., 0., 1.],
        [1., 0., 0., 0., 1.],
        ...,
        [3., 1., 0., 1., 0.],
        [0., 0., 0., 1., 1.],
        [0., 0., 0., 0., 1.]])]

In [27]:
lg_accuracy = []
rf_accuracy = []
dt_accuracy = []
knn_accuracy = []
nb_accuracy = []
svc_linear_accuracy = []
svc_non_linear_accuracy = []

In [28]:
for i in rfe_list:
    x_train, x_test, y_train, y_test = train_test_split(i,dependent,test_size = 0.20, random_state = 0)

    #Logistic Regresssion
    lr_classifier = LogisticRegression(random_state = 0)
    lr_classifier.fit(x_train, y_train)
    y_pred = lr_classifier.predict(x_test) 
    lg_cm = confusion_matrix(y_test, y_pred) 
    lg_acc=accuracy_score(y_test, y_pred )
    lg_report=classification_report(y_test, y_pred) 
    lg_accuracy.append(lg_acc)
    print(lg_acc)

    #SVM Linear
    svc_classifier =  SVC(kernel = 'linear', random_state = 0)
    svc_classifier.fit(x_train, y_train)
    y_pred = svc_classifier.predict(x_test) 
    svc_cm = confusion_matrix(y_test, y_pred) 
    svc_accuracy=accuracy_score(y_test, y_pred )
    svc_report=classification_report(y_test, y_pred) 
    svc_linear_accuracy.append(svc_accuracy)    
    print(svc_accuracy)

    #SVM Non Linear
    svc_n_classifier =  SVC(kernel = 'rbf', random_state = 0)
    svc_n_classifier.fit(x_train, y_train)
    y_pred = svc_n_classifier.predict(x_test) 
    svc_n_cm = confusion_matrix(y_test, y_pred) 
    svc_n_accuracy=accuracy_score(y_test, y_pred )
    svc_n_report=classification_report(y_test, y_pred) 
    svc_non_linear_accuracy.append(svc_n_accuracy)  
    print(svc_n_accuracy)
    
    #Random Forest
    rf_classifier =  RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
    rf_classifier.fit(x_train, y_train)
    y_pred = rf_classifier.predict(x_test) 
    rf_cm = confusion_matrix(y_test, y_pred) 
    rf_acc=accuracy_score(y_test, y_pred )
    rf_report=classification_report(y_test, y_pred) 
    rf_accuracy.append(rf_acc)  
    print(rf_acc)

    #Decistion Tree
    dt_classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
    dt_classifier.fit(x_train, y_train)
    y_pred = dt_classifier.predict(x_test) 
    cm = confusion_matrix(y_test, y_pred) 
    dt_acc=accuracy_score(y_test, y_pred )
    dt_report=classification_report(y_test, y_pred) 
    dt_accuracy.append(dt_acc)  
    print(dt_acc)
  
    #KNN
    knn_classifier =  KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
    knn_classifier.fit(x_train, y_train)
    y_pred = knn_classifier.predict(x_test) 
    knn_cm = confusion_matrix(y_test, y_pred) 
    knn_acc=accuracy_score(y_test, y_pred )
    knn_report=classification_report(y_test, y_pred) 
    knn_accuracy.append(knn_acc)  
    print(knn_accuracy)

    #Naive Baye's
    nb_classifier = GaussianNB()
    nb_classifier.fit(x_train, y_train)
    y_pred = nb_classifier.predict(x_test) 
    nb_cm = confusion_matrix(y_test, y_pred) 
    nb_accy=accuracy_score(y_test, y_pred )
    nb_report=classification_report(y_test, y_pred) 
    nb_accuracy.append(nb_accy)  
    print(nb_accy)

0.9875
0.9875
0.9875
0.9875
0.9875
[0.9875]
0.9875
0.975
0.975
0.9
0.9625
0.95
[0.9875, 0.95]
0.925
0.95
0.95
0.925
0.9625
0.975
[0.9875, 0.95, 0.9375]
0.8625
1.0
1.0
1.0
1.0
1.0
[0.9875, 0.95, 0.9375, 1.0]
1.0

In [29]:
rfe_data = pd.DataFrame(index = ["Logistic","SVC","Random","DecisitionTree"],columns = ["Logistic","SVM_Linear","SVM_Non_Linear",
                                                                                              "KNN","Navie","Decision","Random"])

In [30]:
rfe_data

               Logistic SVM_Linear SVM_Non_Linear  KNN Navie Decision Random
Logistic            NaN        NaN            NaN  NaN   NaN      NaN    NaN
SVC                 NaN        NaN            NaN  NaN   NaN      NaN    NaN
Random              NaN        NaN            NaN  NaN   NaN      NaN    NaN
DecisitionTree      NaN        NaN            NaN  NaN   NaN      NaN    NaN

In [31]:
for index,col in enumerate(rfe_data.index):        
    rfe_data["Logistic"][col]        = lg_accuracy[0]
    rfe_data["SVM_Linear"][col]      = svc_linear_accuracy[0]
    rfe_data["SVM_Non_Linear"][col]  = svc_non_linear_accuracy[0]
    rfe_data["KNN"][col]             = knn_accuracy[0]
    rfe_data["Navie"][col]           = nb_accuracy[0]
    rfe_data["Decision"][col]        = dt_accuracy[0]
    rfe_data["Random"][col]          = rf_accuracy[0]

In [18]:
#k = 3
rfe_data

               Logistic SVM_Linear SVM_Non_Linear   KNN Navie Decision Random
Logistic           0.95       0.95           0.95  0.95  0.95     0.95   0.95
SVC                0.95       0.95           0.95  0.95  0.95     0.95   0.95
Random             0.95       0.95           0.95  0.95  0.95     0.95   0.95
DecisitionTree     0.95       0.95           0.95  0.95  0.95     0.95   0.95

In [25]:
#k = 4
rfe_data

,Logistic,SVM_Linear,SVM_Non_Linear,KNN,Navie,Decision,Random
Logistic,0.9625,0.9625,0.9625,0.9625,0.9625,0.9625,0.9625
SVC,0.9625,0.9625,0.9625,0.9625,0.9625,0.9625,0.9625
Random,0.9625,0.9625,0.9625,0.9625,0.9625,0.9625,0.9625
DecisitionTree,0.9625,0.9625,0.9625,0.9625,0.9625,0.9625,0.9625

In [32]:
#k = 5
rfe_data

,Logistic,SVM_Linear,SVM_Non_Linear,KNN,Navie,Decision,Random
Logistic,0.9875,0.9875,0.9875,0.9875,0.9875,0.9875,0.9875
SVC,0.9875,0.9875,0.9875,0.9875,0.9875,0.9875,0.9875
Random,0.9875,0.9875,0.9875,0.9875,0.9875,0.9875,0.9875
DecisitionTree,0.9875,0.9875,0.9875,0.9875,0.9875,0.9875,0.9875